<div class="head-logo" routerLink="/">V i r g o</div>
<div class="login-window">
    <div class="main-login">
        <h1>Login</h1>
        <label for="">username</label>
        <input type="text" placeholder="username" name="" id="" #lusername>
        <label for="">password</label>
        <input type="password" placeholder="password" name="" id="" #lpassword>
        <button (click)="login_send(lusername.value, lpassword.value)">Login</button>
        <h2 routerLink="/forgot-password">Forgot password?</h2>
    </div>
    <img class="left-img" src="/assets/images/img2.png" alt="">
    <img class="right-img" src="/assets/images/img3.png" alt="">
</div>
<div class="register-window">
    <div class="main-login">
        <h1>Sign Up</h1>
        <label for="">username</label>
        <input type="text" placeholder="type a unique username" (blur)="usernameUnique(rusername.value)" name="" id="" #rusername>
        <label for="">e-mail</label>
        <input type="text" placeholder="type your email" (blur)="emailUnique(remail.value)" name="" id="" #remail>
        <label for="">password <i style="font-size: 0.8em;">(Should contain numbers & alphabets)</i></label>
        <input type="password" placeholder="type a password" (blur)="passwordValidity(rpassword.value)" name="" id="" #rpassword>
        <button class="regi" (click)="register_send(rusername.value, remail.value, rpassword.value)">Sign Up</button>
    </div>
    <img class="left-img" src="/assets/images/img2.png" alt="">
    <img class="right-img" src="/assets/images/img3.png" alt="">
</div>

