.common-form{
    padding-top: 80px;
}
img{
    top:20px;
    position: fixed;
    height: 110vh;
}
.common-form{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgb(230, 230, 230);
}
.p-form{
    display: none;
    margin-left: 35%;
    width: 30%;
    border-radius: 10px;
    height: 240px;
    background-color: white;
    margin-top: 100px;
    position: relative;
    z-index: 5;
    -webkit-box-shadow: -8px 4px 5px 0px rgba(94,94,94,0.5);
    -moz-box-shadow: -8px 4px 5px 0px rgbargba(94,94,94,0.5);
    box-shadow: -8px 4px 5px 0px rgba(94,94,94,0.5);
}
.p-form>h1{
    color: #333333;
    font-weight: lighter;
    padding: 20px;
    text-align: center;
}
.t-form{
    display: none;
    margin-left: 35%;
    width: 30%;
    border-radius: 10px;
    min-height: 240px;
    height: auto;
    background-color: white;
    margin-top: 100px;
    position: relative;
    z-index: 5;
    -webkit-box-shadow: -8px 4px 5px 0px rgba(94,94,94,0.5);
    -moz-box-shadow: -8px 4px 5px 0px rgbargba(94,94,94,0.5);
    box-shadow: -8px 4px 5px 0px rgba(94,94,94,0.5);
}
.t-form>h1{
    color: #333333;
    font-weight: lighter;
    padding: 20px;
    text-align: center;
}

button{
    margin-left: 40%;
    border: none;
    background-color: #073450;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}
input{
    margin-left: 7%;
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
textarea{
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 7%;
    border-radius: 5px;
    color: #333333;
}