.side-nav{
    z-index: 3;
    top: 20%;
    left: 17%;
    position: fixed;
    height: auto;
    min-height: 100px;
    width: 20%;
    
}
.board-L{
    background-color: #c6d4dd;
    color: #073450 !important;
    font-weight: 700;
}
.part-one>div{
    color: #333333;
    text-align: left;
    padding-left: 10%;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;  
    cursor: pointer;
}
.home:hover{
    background-color: silver;
}
.heading{
    padding-left: 5%;
    padding-top: 10px;
    width: 80%;
}
.heading>h1{
    float: left;
    font-size: 1.1em;
    color: #666666;
}
.heading>h2{
    cursor: pointer;
    float: right;
    border-radius: 4px;
    color: #666666;
    font-weight: lighter;
    margin-top: -4px;
    padding-left: 4px;
    padding-right: 4px;
}
.heading>h2:hover{
    background-color: silver;
}
.part-three{
    min-height: 40px;
}
.part-four{
    margin-top: 20px;
}
.part-four>h1{
    font-size: 1.1em;
    color: #666666;
    padding-left: 5%; 
    margin-bottom: 20px;
}
.part-four>h2{
    cursor: pointer;
    font-weight: lighter;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-size: 1.1em;
    color: #666666;
    padding-left: 5%; 
}
.part-four>h2:hover{
    background-color: silver;
    color: black;
}
.part-four>h2>b{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5%; 
    background-color: rgb(221, 220, 220);
}

/* board crousal */
.board-crousal{
    /* position: fixed; */
    padding-top: 10%;
    float:right;
    width: 60%;
    overflow: scroll;
    /* background-color: blue; */
    /* top: 20%; */
}
.yet{
    display: none;
    margin-top: 100px;
    margin-right: 20%;
    color: #333333;
    text-align: center;
}
.personal-boards{
    overflow: hidden;
    height: auto;
    width: 90%;
}
.personal-boards>h1{
    font-weight: lighter;
    color: #333333;
}
.b-tiles{
    float: left;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
    width: 200px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: red;
    opacity: 0.9;
}
.b-tiles>h2{
    color: white;
    padding: 10px;
}
.b-tiles:hover{
    opacity: 1;
}
.team-boards{
    overflow: hidden;
    height: auto;
    margin-top: 50px;
}