<app-login-header></app-login-header>
<div class="side-nav">
    <div class="part-one">
        <div class="home" routerLink="/">Home</div>
        <div class="board-L">Boards</div>
    </div>
    <div class="part-two">
        <div class="heading">
            <h1>Teams</h1>
            <h2>+</h2>
        </div>
    </div>
    <div class="part-three">

    </div>
    <div class="part-four">
        <h1>Links</h1>
        <h2><b>+</b>Create Board</h2>
    </div>
</div>
<div class="board-crousal">
    <h1 class="yet">No Boards Yet</h1>
    <div class="personal-boards">
        <h1>Personal Boards</h1>
        <div class="b-tiles">
            <h2>name</h2>
        </div>
    </div>
    <div class="team-boards">
        <h1>Team Boards</h1>
        <div class="b-tiles">
            <h2>name</h2>
        </div>
    </div>
</div>